header {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

header div {
    background-color: #661020;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header img {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

main img {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 0 30px 0;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}

footer {
    padding: 15px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

footer div {
    margin: 0 0 15px 0;
}

footer img {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: auto;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #363636;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

h1 {
    font-size: 30px;
    margin: 0 0 30px 0;
    color: #661020;
}

h2 {
    font-size: 26px;
    margin: 0 0 30px 0;
    color: #363636;
}

p {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #363636;
}

span {
    font-weight: 600;
}

mark {
    background-color: #BA7783;
}

a {
    color: white;
    background-color: #661020;
    border-radius: 50px;
    padding: 8px 22px;
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

hr {
    color: gainsboro;
    border: solid 1px;
    margin: 30px 0;
    border-radius: 5px;
}